{% extends 'blog/base_full_width.html' %}
{% block main_area %}

<link rel="stylesheet" href="/static/single_pages/css/landing.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/single_pages/css/about_me.css" type="text/css" media="screen" />

<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 text-light">
        <h1>안녕하세요. 탑우드입니다.</h1>
        <br/>
        <p>프로그램이란?<br> <span class="badge badge-secondary">Ctrl + c</span>, <span class="badge badge-secondary">Ctrl + v</span> 를 열심히 합니다.</p>
      </div>
      <div class="col-lg-4">
        <!--<img class="img-fluid" src="/static/single_pages/images_/my_back.png">-->
        <img class="img-fluid" src="https://picsum.photos/seed/kbs/600/400" >
      </div>
    </div>
  </div>
</section>

<section class="bg-light margin-for-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="my-2">PORTFOLIO</h1><br/>
        <div style="height:620px; mx-a">
        <img class="img-fluid" src="https://picsum.photos/1080/600" >
      </div>
    </div>
  </div>
</section>
{% endblock %}
